@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "./components.css";

body {
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.SectionWrapper {
  overflow-x: hidden;
}